.ProjectSelected {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    height:100vh;
    background:rgb(20,20,20);
    color:lightgray;
    font-weight:bold;
}
.tabs {
    display:flex;
    list-style-type:none;
}
.tabs li {
    flex:1 1 10em;
    background:dodgerblue;
    color:white;
    margin:5px;
    padding:5px;
    cursor:pointer;
    border-radius:5px;
}
.tabs li a {
    background:dodgerblue;
    width:100%;
    color:white;
    margin:5px;
    padding:5px;
    cursor:pointer;
    border-radius:5px;
}
.active {
    background:orangered;
    color:white;
}